<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="[%-23d{ISO8601}] %-5p %x [%c] JSessionID=%X{sessionId}, UserName=%X{userName} -- %m\n"/> 
    </layout> 
  </appender>
  
  <appender name="APPS_LOG_FILE" class="org.apache.log4j.rolling.RollingFileAppender">
    <param name="file" value="${catalina.base}/logs/sample.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      <!-- The file to roll to, this is a fairly intelligent parameter, if the file
           ends in .gz, it gzips it, based on the date stamp it rolls at that time, default is yyyy-MM-dd, (rolls at midnight)
           See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
      <param name="FileNamePattern" value="${catalina.base}/logs/apps.%d{yyyy-MM-dd-HH}.gz" />
    </rollingPolicy>
    
    <!--triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
      <param name="maxFileSize" value="100000000" />
    </triggeringPolicy-->
    
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-23d{ISO8601}] %-5p %x [%c] JSessionID=%X{sessionId}, UserName=%X{userName} -- %m\n" />
    </layout>
  </appender>
  
  <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="100000"/>
    <appender-ref ref="APPS_LOG_FILE"/>
  </appender>
  
  <!-- logger name="org.springframework" level="TRACE">
    <appender-ref ref="APPS_LOG_FILE"/>
  </logger-->
  
  
  <root>
    <priority value="INFO" />
    <appender-ref ref="ASYNC" />
    <appender-ref ref="CONSOLE" />
  </root>
</log4j:configuration>