<div id="headerDiv" class="header">
  <div class="logoBox">					
    <img src="/images/spacer.gif" class="logo" alt="Logo goes here" style="vertical-align:middle" />
  </div>
  <div class="welcomeMsg userInfo" style="margin-top:10px;right:14px" id="_userinfo_div">
    <span id="_username"></span> | <a id="logout_link" href="/sample/service/logout">Logout</a>
  </div>
</div>